<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed:200,700" rel="stylesheet">
    <title>WorseReddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1><span class="lighth1">WORSE</span><span class="boldh1">REDDIT<span></h1>
      </header>
      <%= yield %>
      <footer>
        <%= button_to 'View Routes', '/rails/info', method: :get unless Rails.env.production? %>
      </footer>
    </div>
  </body>
</html>
